body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

div, img {
    margin: 0px;
}

body {
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(212, 212, 212);
}

.left {
    width: 60vw;
    height: 100%;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .mask {
        align-self: stretch;
        background-color: black;
        opacity: 40%;
        margin-top: 20vh;
        text-align: center;
        img {
            height: 100px;
            width: auto;
            margin-top: 20px;
        }
    }
    .footer {
        color: white;
        align-self: center;
    }
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info {
        background-color: rgb(234, 234, 234);
        padding: 60px;
    }
    .info p {
        font-weight: bold;
        font-size: 24px;
    }
}